<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cg.mapper.RecruitInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cg.entity.RecruitInfo">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
        <result column="title" property="title" />
        <result column="brief" property="brief" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="comp_id" property="compId" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, status, title, brief, start_time, end_time, comp_id
    </sql>
    <select id="getpage" resultType="com.cg.entity.RecruitInfo">
        SELECT
        r.id,
        r.create_time,
        r.update_time,
        r.status,
        r.title,
        r.brief,
        r.start_time,
        r.end_time,
        r.comp_id,
        c.name AS company_name
        FROM
        recruit_info r
        LEFT JOIN
        comp_info c ON r.comp_id = c.id
        <where>
            <if test="title != null and title != ''">
                AND r.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="id != null">
                AND r.comp_id = #{id}
            </if>
        </where>
        ORDER BY r.create_time DESC
    </select>

</mapper>
