<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cg.mapper.VRoleMapper">

    <resultMap id="BaseResultMap" type="com.cg.entity.view.VRole">
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="pid" column="pid" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="resValue" column="res_value" jdbcType="VARCHAR"/>
            <result property="sortIndex" column="sort_index" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,name,pid,
        type,path,icon,
        res_value,sort_index
    </sql>
</mapper>
